
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .scroll-reset {
    /* Ensure the container starts at the top */
    scroll-behavior: auto;
    overflow-x: hidden;
  }
}
